  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Prompt:wght@400;500&display=swap');
  /*Montserrat & prompt*/
  @import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;400;600&display=swap');
  /*Mukta Vaani*/
  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
  }

  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .circle {
    background: url(./assets/Images/Noise-Texture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  body {
    overflow-x: hidden;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
  }

  h2,
  h3 {
    font-family: 'Mukta Vaani', sans-serif;
  }

  h4,
  h5,
  h6 {
    font-family: 'Prompt', sans-serif;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h6 {
    font-size: 1rem;
    font-weight: 500;
  }

  .hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
  }